In [4]:
import sys

In [6]:
!{sys.executable} -m pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/80/d9/50bff755debc7492fd4ee0f312250a5c4b07b9b50af3d7af4047ecd4257e/pandas-1.3.1-cp37-cp37m-macosx_10_9_x86_64.whl
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.17.3
  Using cached https://files.pythonhosted.org/packages/49/d2/057683bbe4f8cccbd74f9b98dee5b1c5b94c06c115790d4bb50ec31aab77/numpy-1.21.1-cp37-cp37m-macosx_10_9_x86_64.whl
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.13.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.1 pandas-1.3.1

In [7]:
import pandas as pd

In [11]:
ls

2021-41339 PASD #21-337.xlsx  include/
Untitled.ipynb                lib/
bin/                          share/
etc/

In [21]:
xls_file = pd.ExcelFile('isabela_xl_trimmed.xlsx')

In [22]:
xls_file

In [23]:
xls_file.sheet_names

['21-337', 'Sheet1']

In [24]:
df = xls_file.parse('21-337')

In [25]:
df

,idncase,idnProceeding,NTA Date,Date Appeal Filed,Appeal Filed By,Case Type,Custody,Gender,Base City,BIA Decision*,BIA Decision Date
0,6817752,5685760.0,2011-08-02,2015-10-05,Alien,RMV,R,M,"KANSAS CITY, MISSOURI",Background Check Remand,2016-06-15
1,6807379,6078121.0,2011-06-08,2015-10-06,Alien,RMV,R,M,"ARLINGTON, VIRGINIA",Dismiss Appeal/Affirm IJ's Decision,2016-11-23
2,7473465,6891486.0,2014-04-16,2015-10-08,DHS,RMV,D,M,"LOS ANGELES, CALIFORNIA (NORTH LOS ANGELES STR...",Remand,2016-10-25
3,7642251,6819325.0,2015-03-03,2015-10-08,DHS,RMV,D,M,"KANSAS CITY, MISSOURI",Sustain,2017-01-27
4,7721331,6937166.0,2015-07-15,2015-10-09,DHS,WHO,D,M,"LOS FRESNOS (PORT ISABEL SPC), TEXAS",Remand,2017-02-06
...,...,...,...,...,...,...,...,...,...,...,...
4387,8171451,7603869.0,2016-12-07,2021-06-25,DHS,RMV,R,NaN,"LOS ANGELES, CALIFORNIA",NaN,NaT
4388,8171477,7603929.0,2016-12-07,2021-06-25,DHS,RMV,R,NaN,"LOS ANGELES, CALIFORNIA",NaN,NaT
4389,8559014,8189786.0,2018-07-03,2021-06-29,Alien,RMV,N,M,"VAN NUYS, CALIFORNIA",NaN,NaT
4390,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4391,*If the BIA Decision is blank then the case is...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [26]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4387    False
4388    False
4389    False
4390    False
4391    False
Length: 4392, dtype: bool

In [27]:
df.drop_duplicates()

,idncase,idnProceeding,NTA Date,Date Appeal Filed,Appeal Filed By,Case Type,Custody,Gender,Base City,BIA Decision*,BIA Decision Date
0,6817752,5685760.0,2011-08-02,2015-10-05,Alien,RMV,R,M,"KANSAS CITY, MISSOURI",Background Check Remand,2016-06-15
1,6807379,6078121.0,2011-06-08,2015-10-06,Alien,RMV,R,M,"ARLINGTON, VIRGINIA",Dismiss Appeal/Affirm IJ's Decision,2016-11-23
2,7473465,6891486.0,2014-04-16,2015-10-08,DHS,RMV,D,M,"LOS ANGELES, CALIFORNIA (NORTH LOS ANGELES STR...",Remand,2016-10-25
3,7642251,6819325.0,2015-03-03,2015-10-08,DHS,RMV,D,M,"KANSAS CITY, MISSOURI",Sustain,2017-01-27
4,7721331,6937166.0,2015-07-15,2015-10-09,DHS,WHO,D,M,"LOS FRESNOS (PORT ISABEL SPC), TEXAS",Remand,2017-02-06
...,...,...,...,...,...,...,...,...,...,...,...
4387,8171451,7603869.0,2016-12-07,2021-06-25,DHS,RMV,R,NaN,"LOS ANGELES, CALIFORNIA",NaN,NaT
4388,8171477,7603929.0,2016-12-07,2021-06-25,DHS,RMV,R,NaN,"LOS ANGELES, CALIFORNIA",NaN,NaT
4389,8559014,8189786.0,2018-07-03,2021-06-29,Alien,RMV,N,M,"VAN NUYS, CALIFORNIA",NaN,NaT
4390,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4391,*If the BIA Decision is blank then the case is...,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [28]:
df.dtypes

idncase                      object
idnProceeding               float64
NTA Date             datetime64[ns]
Date Appeal Filed    datetime64[ns]
Appeal Filed By              object
Case Type                    object
Custody                      object
Gender                       object
Base City                    object
BIA Decision*                object
BIA Decision Date    datetime64[ns]
dtype: object

In [30]:
duplicateRowsDF = df[df.duplicated()]

In [31]:
duplicateRowsDF

Empty DataFrame
Columns: [idncase, idnProceeding, NTA Date, Date Appeal Filed, Appeal Filed By, Case Type, Custody, Gender, Base City, BIA Decision*, BIA Decision Date]
Index: []

In [32]:
print(df.nunique())

idncase              4252
idnProceeding        4390
NTA Date             1994
Date Appeal Filed    1171
Appeal Filed By         4
Case Type               4
Custody                 3
Gender                  2
Base City              65
BIA Decision*          15
BIA Decision Date     988
dtype: int64

In [34]:
print(df['idncase'].value_counts())

7973945                                                                       3
7344840                                                                       3
8051951                                                                       3
8113843                                                                       3
8188409                                                                       3
                                                                             ..
7451742                                                                       1
7845220                                                                       1
7845224                                                                       1
8525232                                                                       1
*If the BIA Decision is blank then the case is still pending with the BIA.    1
Name: idncase, Length: 4252, dtype: int64

In [35]:
appeal_subset = df[df['Appeal Filed By'] == 'DHS']

In [37]:
appeal_subset.shape[0]

2825

In [38]:
detained_appeal = appeal_subset[appeal_subset['Custody'] == 'D']

In [39]:
detained_appeal.shape[0]

1015

In [40]:
print(detained_appeal.nunique())

idncase               946
idnProceeding        1015
NTA Date              725
Date Appeal Filed     666
Appeal Filed By         1
Case Type               4
Custody                 1
Gender                  2
Base City              46
BIA Decision*          13
BIA Decision Date     597
dtype: int64

In [41]:
print(appeal_subset.nunique())

idncase              2735
idnProceeding        2825
NTA Date             1454
Date Appeal Filed     960
Appeal Filed By         1
Case Type               4
Custody                 3
Gender                  2
Base City              64
BIA Decision*          15
BIA Decision Date     773
dtype: int64